#windowdivcontainer {
    min-height: 400px;
}

#undo {
    text-align: center;
    position: absolute;
    white-space: nowrap;
    padding: 1em;
    cursor: pointer;
}

.imageleft {
    float: left;
    margin: 30px 30px 120px 30px;
    text-align: center;
}

    .imageleft img {
        display: block;
        margin-bottom: 10px;
    }

@media screen and (max-width: 1023px) {
    div.k-window {
        display: none !important;
    }
}
