

<div class="siListContainer">
    <div id="siListRight" style="position: relative; float:right">

        <ul id="DefaultMenuMain" class="nav">
            <li><a href="/USAID.MapCODLocationsPreviewer/Home/Index">Home</a></li>
            <li><a href="/USAID.MapCODLocationsPreviewer/Home/About">About</a></li>
            <li><a href="/USAID.MapCODLocationsPreviewer/Home/Contact">Contact</a></li>
          
        </ul>

    </div>
</div>


<style scoped="scoped">
    #menu h2 {
        font-size: 1em;
        text-transform: uppercase;
        padding: 5px 10px;
    }

    #MenuMain #SearchGMIS {
        width: auto;
        float: right;
        color: #F2E4C7;
        background: #daecf4; /* Old browsers */
        background: -moz-linear-gradient(top, #daecf4 0%, #003f59 50%, #e0be7f 51%, #003f59 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003f59), color-stop(50%,#efd3a2), color-stop(51%,#e0be7f), color-stop(100%,#efd3a2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #daecf4 0%,#003f59 50%,#003f59 51%,#efd3a2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #daecf4 0%,#003f59 50%,#003f59 51%,#003f59 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #daecf4 0%,#003f59 50%,#003f59 51%,#003f59 100%); /* IE10+ */
        background: linear-gradient(to bottom, #daecf4 0%,#003f59 50%,#003f59 51%,#003f59 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daecf4', endColorstr='#003f59',GradientType=0 ); /* IE6-9 */
        border: 0px;
    }

    #submenu {
    }
</style>
