<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
    <appSettings>
      <add key="ApplicationName" value="USAID.MapCODLocationsPreviewer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="ApplicationDomain" value="arusso.itos.uga.edu"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="EnableDocumentGeneration" value="disabled" xdt:Transform="Replace" xdt:Locator="Match(key)" />
      <add key="DocumentStorageLocation" value="\\os.uga.edu\Documents\GNAHRGIS\devlocal\Ecology\"/>
    </appSettings>
	</appSettings>
  <system.web>
  </system.web>
</configuration>
